@import '../../css/grid';

#main-menu {
  height: calc(100vh - 24px);
  padding: 10px;
  overflow-y: auto;

  .logo {
    display: flex;
    align-items: center;
  }

  @include d(s) {
    position: inherit;
    width: inherit;
    background: inherit;
    height: inherit;
    padding: inherit;
    overflow-y: inherit;
  }

  h1 {
    margin-bottom: 3rem;
    font-size: 2rem;
  }

  li {
    margin-bottom: 8px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    line-height: 1.2;
    font-size: 1.4rem;
    padding: .2rem;

    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }

    &.active {
      background: rgba(0, 0, 0, 0.05);
      & > a {
        color: #913BF3;
        font-weight: bold;
      }
    }

    a {
      display: inline-block;
      width: 100%;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}