@import './variables';
@import './reset';
@import './grid';

.subtitle {
  margin-bottom: 3rem;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #913BF3;
  }
}

.form-group {
  margin-bottom: 1rem;
}

input[type="text"] {
  display: block;
  width: 100%;
  border-radius: 3px;
  padding: 5px;
  border: 1px solid #d9d9e4;
  outline: #b6b6d6;
}

.description {
  background: #EFEFEF;
  padding: 5px;
  margin-bottom: 25px;
  font-size: 1.4rem;
  line-height: 2.1rem;
  h3 {
    background-color: #212121;
    color: #fff;
    font-weight: 400;
    max-width: max-content;
    padding: 0 6px;
    margin: 24px 0;
  }
  .code {
    border-left: 6px solid #00458b;
    line-height: 1.4;
    margin: 0 0 24px;
    max-width: 100%;
    overflow: auto;
    padding: 24px 0 24px 1rem;
    width: 100%;
    text-align: left;
    font-family: monospace;
  }
}
.examples {
  button {
    width: 100%;
    text-align: center;
    padding: 5px;
    background: #913BF3;
    border: 1px solid #913BF3;
    border-radius: 3px;
    color: #FFF;
    font-weight: bold;
    transition: background .3s ease-out;
    text-transform: uppercase;
  }
}

p {
  margin-bottom: 1rem;
}

.MT10 {
  margin-top: 1rem;
}

.roxo {
  color: $secundary;
}