@import './variables';
@import './reset';
@import './grid';

html {
  @include d(s) {
    font-size: 58%;
  }
}

.subtitle {
  margin-bottom: 2rem;
  
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #913BF3;
  }
}

.form-group {
  margin-bottom: 1rem;
}

input[type="text"] {
  display: block;
  width: 100%;
  border-radius: 3px;
  padding: 5px;
  border: 1px solid #d9d9e4;
  outline: #b6b6d6;
}

.description {
  margin-bottom: 25px;
  font-size: 1.4rem;
  line-height: 2.1rem;
  border-bottom: 1px solid #98e;

  h3 {
    background-color: #913BF3;
    color: #fff;
    font-weight: 400;
    max-width: max-content;
    padding: 0 6px;
    margin-bottom: 2rem;
  }

  .code {
    border-left: 0.4rem solid #bba0ff;
    margin-bottom: 2rem;
    max-width: 100%;
    overflow: auto;
    padding: 2.4rem 0 2.4rem 1rem;
    width: 100%;
    background: #FAFAFA;
    white-space: normal;

    & > * {
      display: block;
    }

    .tab_1 {
      margin-left: 1rem;
    }
    .tab_2 {
      margin-left: 2rem;
    }
    .tab_3 {
      margin-left: 3rem;
    }
    .tab_4 {
      margin-left: 4rem;
    }
  }
}
.examples {
  button {
    width: 100%;
    text-align: center;
    padding: 5px;
    background: #913BF3;
    border: 1px solid #913BF3;
    border-radius: 3px;
    color: #FFF;
    font-weight: bold;
    transition: background .3s ease-out;
    text-transform: uppercase;
  }
}

p {
  margin-bottom: 1rem;
}

.MT10 {
  margin-top: 1rem;
}

.PT10 {
  padding-top: 10px;
}

.MAXW250PERC {
  @include d(l) {
    max-width: 25rem!important;
  }
  @include d(m) {
    max-width: 25rem!important;
  }
}

.MOBILE100PERC {
  @include d(s) {
    max-width: 100%;
  }
}

.roxo {
  color: $secundary;
}

.notfound {
  max-width: 40rem;
}

.copyright {
  background: linear-gradient(#9b30f9,#84e);
  color: #FFF;
  padding: 5px;
  font-size: 1.5rem;
  font-family: monospace;
}

.word-break {
  word-break: break-all;
}

.content {
  animation: showContent .3s forwards;
  will-change: auto;
  margin-bottom: 2rem!important;
}

@keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

label {
  display: block;
  margin-bottom: 1rem;
}